/* app.js 에  import 처리되어, js 파일에 포함되어 배포되는 css */

h1 {
    text-align: center;
}

img.welcome {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comp {
    text-align: center;
    cursor: pointer;
    color: red;
}